.profileMain {
    display: flex;
    justify-content: center;
}

.profileCard {
    margin-top: 2%;
    margin: 1%;
    width: 45%;
    max-width: 50%;
}

.profileTable {
    width: 100%;
}

table thead tr th {
    border-bottom: 2px double black;
}

table tbody tr td {
    border-bottom: 1px dotted lightslategray;
}

.longInput {
    width: 97%;
}

.valueName {
    font-weight: bold;
}

.saveButton {
    background-color: green;
    color: white;
}

.contentTD {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}