<div class='profileMain'>
    <mat-card class='profileCard'>
        <mat-card-header>
            <img mat-card-avatar [src]='newPictureURL ? newPictureURL : loggedInUser?.picture'>
            <mat-card-title>
                <mat-label>Name: </mat-label><span *ngIf='!editName'>{{ loggedInUser?.name.first }} {{ loggedInUser?.name.last }}</span>
                <div *ngIf='editName'></div>
                <button class='editButton' mat-icon-button ><mat-icon>create</mat-icon></button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <table class='profileTable'>
                    <thead>
                        <tr>
                            <th colspan="4">User Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='valueName'>Company: </td>
                            <td colspan='2' *ngIf='!editCompany'>{{ newCompany ? this.newCompany : loggedInUser?.company }}</td>
                            <td colspan='2' *ngIf='editCompany'><input #newCompanyInput class='longInput' matInput type='text' placeholder='Deathstar Inc.' (keyup)='setCompanyName(newCompanyInput.value)'></td>
                            <td><button class='editButton' mat-icon-button (click)='companyEditToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td class='valueName'>Email:</td>
                            <td colspan='2' *ngIf='!editEmail'>{{ newEmail ? newEmail : loggedInUser?.email }}</td>
                            <td colspan='2' *ngIf='editEmail'><input class='longInput' matInput type='email' placeholder='vader@deathstar.org.com.edu'></td>
                            <td><button class='editButton' mat-icon-button (click)='editEmailToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td class='valueName'>Phone:</td>
                            <td colspan='2' *ngIf='!editPhone'>{{ newPhone ? newPhone : loggedInUser?.phone }}</td>
                            <td colspan='2' *ngIf='editPhone'><input matInput type='tel'></td>
                            <td><button class='editButton' mat-icon-button (click)='editPhoneToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td class='valueName'>Address:</td>
                            <td colspan='2' *ngIf='!editAddress'>{{ newAddress ? newAddress : loggedInUser?.address }}</td>
                            <td colspan='2' *ngIf='editAddress'><input class='longInput' matInput type='text' placeholder='123 4th street'></td>
                            <td><button class='editButton' mat-icon-button (click)='editAddressToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td class='valueName'>Age:</td>
                            <td colspan='2' *ngIf='!editAge'>{{ newAge ? newAge : loggedInUser?.age }}</td>
                            <td colspan='2' *ngIf='editAge'><input matInput type='number' placeholder='42'></td>
                            <td><button class='editButton' mat-icon-button (click)='editAgeToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td class='valueName'>Eye Color:</td>
                            <td colspan='2' *ngIf='!editEyeColor'>{{ newEyeColor ? newEyeColor : loggedInUser?.eyeColor }}</td>
                            <td colspan='2' *ngIf='editEyeColor'><input class='longInput' matInput type='text' placeholder='Gray'></td>
                            <td><button class='editButton' mat-icon-button (click)='editEyeColorToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td class='valueName'>Picture URL:</td>
                            <td colspan='2' *ngIf='!editPictureURL'>{{ newPictureURL ? newPictureURL : loggedInUser?.picture }}</td>
                            <td colspan='2' *ngIf='editPictureURL'><input class='longInput' matInput type='url' placeholder='Input URL and Keep it appropriate...'></td>
                            <td><button class='editButton' mat-icon-button (click)='editPictureToggle()'><mat-icon>create</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class='saveButton' (click)='save()'><mat-icon>save</mat-icon> Save Profile Changes</button>
        </mat-card-actions>
    </mat-card>
</div>