<div class='mainHome'>
    <div class='userInfo'>
        <img [src]='loggedInUser?.picture' class='userImg'>
        <h2>Welcome {{ loggedInUser?.name.first }} {{ loggedInUser?.name.last }}</h2>
    </div>
    <div class='actionTray'>
        <button class='appButton' id='balanceButton' mat-raised-button (click)='openBalance()'><mat-icon>account_balance</mat-icon>  Balance</button>
        <button class='appButton' id='profileButton' mat-raised-button color='warn' (click)='navProfile()'><mat-icon>portrait</mat-icon>  My Profile</button>
    </div>
    <mat-divider></mat-divider>
    <h2 style='text-align: center;'>Transactions</h2>
    <div class='transactions'>
    <mat-card *ngFor='let t of loggedInUser.transactions' class='transactionCard'>
        <mat-card-header>
            <mat-card-title [ngClass]="{'expense': t.transactionType === 'EXPENSE', 'credit': t.transactionType === 'CREDIT'}">
                {{ t.transactionType }} - {{ t.transactionAmount | currency: 'USD' }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class='transactionContent'>{{ t.transactionDate }} - {{ t.transactionName }}</p>
        </mat-card-content>
    </mat-card>
    </div>
</div>