<div class='mainHome'>
    <div class='userInfo'>
        <img [src]='loggedInUser?.picture' class='userImg'>
        <h2>Welcome {{ loggedInUser?.name.last }}, {{ loggedInUser?.name.first }}</h2>
    </div>
    <div class='actionTray'>
        <button class='appButton' id='balanceButton' mat-raised-button (click)='openBalance()'>Balance</button>
        <button class='appButton' id='payButton' mat-raised-button color='primary'>Pay</button>
        <button class='appButton' id='profileButton' mat-raised-button color='warn'>Edit Profile</button>
    </div>
    <mat-divider></mat-divider>
    <h2>Transactions</h2>
    <div class='transactions'>
    <mat-card *ngFor='let t of loggedInUser.transactions' class='transactionCard'>
        <mat-card-header>
            <mat-card-title [ngClass]="{'expense': t.transactionType === 'EXPENSE', 'credit': t.transactionType === 'CREDIT'}">
                {{ t.transactionType }} - {{ t.transactionAmount | currency: 'USD' }}
            </mat-card-title>
            <mat-card-subtitle>{{ t.transactionDate }} - {{ t.transactionName }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    </div>
</div>