.mainHome {
    height: 87%;
    width: 98%;
    padding: 1%;
}

.userInfo {
    text-align: center;
}

.userImg {
    width: 15%;
    border-radius: 150px;    
}

.actionTray {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.transactions {
    overflow-y: auto;
    padding: 2px;
    height: 45%;
    max-height: 60%;
}

#balanceButton {
    margin-right: 5px;
    color: white;
    background-color: green
}

#profileButton {
    margin-left: 5px
}

#payButton {
    margin-right: 5px;
    margin-left: 5px;
}

.appButton {
    width: 125px;
}

.transactionCard {
    margin-bottom: 10px;
}

.expense {
    color: red;
    font-style: italic;
}

.credit {
    color: green;
    font-weight: bold;
}

.transactionContent {
    margin-left: 5%;
}