.loginMain {
    display:flex;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.loginCard {
    height: 70%;
    width: 60%;
    margin-top: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 50%;
    margin-bottom: 5px;
}

#loginButton {
    width: 200px;
}