.loginMain {
    display:flex;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.loginCard {
    height: 50%;
    width: 50%;
    margin-top: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 50%;
    margin-bottom: 5px;
}