<div class="notActiveMain">
  <mat-card class="notActiveCard">
    <mat-card-header>
      <mat-card-title> Account Not Active </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class='sorryMsg'>
        Our records show that while you are a user of Savvy Cats, your account
        has been deactivated. Please contact your account manager to resolve
        this issue as soon as possible.
      </p>
      <p>Thank you,</p>
      <p style='font-family: "Snell Roundhand, cursive", cursive, monospace'>D. Shrutte</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color='primary' (click)="backToLogin()">
        <mat-icon>exit_to_app</mat-icon> Back to Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
